<app-nav></app-nav>
<div class="d-block mx-4 my-4 max-h-500 min-h-500">
  <div class="d-inline-block">
    <img src="https://ferreteriavidri.com/images/items/large/91779.jpg" width="250" height="250">
    <h4>Aceite de moto</h4>
    <p>Aceite de moto para moto :V</p>
    <h5>Precio: <small>17500</small></h5>
    <h5>Cantidades disponibles: <small>34</small></h5>
  </div>

  <div class="d-inline-block float-right h-400">

    <div class="d-block">
      <i class="fas fa-shopping-cart font-50"></i>
      <h5>Agregar</h5>
    </div>
    <div class="d-block mt-320">
      <i class="fas fa-arrow-left font-50"></i>
      <h5>Atras</h5>
    </div>

  </div>
</div>
<app-footer></app-footer>
