<app-nav></app-nav>

<div class="w-75 p-4 ml-25">
  <div class="border-2 p-4 d-inline-block position-absolute">
    <button class="btn btn-secondary text-light d-block mb-2">Sucursal 1</button>
    <button class="btn btn-secondary text-light d-block mb-2">Sucursal 2</button>
    <button class="btn btn-secondary text-light d-block">Sucursal 3</button>
  </div>
  <div class="border-3-primary w-60 d-inline-block border-radius-7 ml-25 max-h-452">
    <h2 class="border-botton-2 bg-primary">Sucursal 1</h2>
    <div class="max-h-452 overflow-y-auto max-h-386px">
      <div class="p-2 border-2 w-40">
        <h4>Cliente:</h4>
        <p>Holaaaa quiero awa en polvo!</p>
      </div>
      <div class="p-2 border-2 w-40 ml-56">
        <h4>Yo:</h4>
        <p>Holaaaa, vale 1000</p>
      </div>
      <div class="p-2 border-2 w-40">
        <h4>Cliente:</h4>
        <p>El awa en polvo la puede disolver con awa mojada, ¿verdad?</p>
      </div>
      <div class="p-2 border-2 w-40 ml-56">
        <h4>Yo:</h4>
        <p>Sii :D</p>
      </div>
    </div>

  </div>
</div>

<app-footer></app-footer>
