@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,300");

.font-family-cus-1 {
  font-family: "Noto Sans JP", sans-serif;
}

.border-2 {
  border: 2px solid black;
}

.border-2-secondary {
  border: 2px solid #6c757d;
}

.w-60 {
  width: 60%;
}

.border-bottom-2 {
  border-bottom: rgba(0, 0, 0, 0.705) 3px solid;
}

.border-radius-5 {
  border-radius: 5px;
}

.w-40 {
  width: 40%;
}

.ml-25 {
  margin-left: 25%;
}

.ml-25 {
  margin-left: 25%;
}

.max-h-452 {
  max-height: 452px;
}

.ml-56 {
  margin-left: 56%;
}

.overflow-y-auto {
  overflow-y: auto;
}

.max-h-386px {
  max-height: 386px;
}

.float-right {
  float: right;
}

.font-size-20px {
  font-size: 20px;
}
.max-wh-30px {
  min-width: 30px;
  max-width: 30px;
  min-height: 30px;
  max-height: 30px;
}

.font-size-weight-12px {
  font-size: 12px;
  font-weight: 600;
}

.max-w-200-min-w-200px {
  max-width: 200px;
  min-width: 200px;
}

.font-size-weight-12px {
  font-size: 12px;
  font-weight: 600;
}

.bg-custom-1 {
  background-color: #f1f2f4;
}

.text-color-cus-1 {
  color: #b6bdc5;
}

.h-120px {
  min-height: 120px;
}

.max-min-h-324px {
  max-height: 324px;
  min-height: 324px;
}

.bg-custom-2 {
  background-color: #b6bdc5;
}

.border-2-custom-1 {
  border: 2px solid #b6bdc5;
}

.text-color-cus-2 {
  color: #b6bdc5;
}

.ml-8px {
  margin-left: 8px;
}

.w-85 {
  width: 85%;
}

.mr-13px {
  margin-right: 13px;
}

.border-top-2-custom-2 {
  border-top: #d4d9de 2px solid;
}

.border-bottom-2-custom-2 {
  border-bottom: #dadbdd 2px solid;
}

.ml-333px {
  margin-left: 333px;
}

.font-family-cus-2 {
  font-family: "Oswald", sans-serif;
}

.style-custom-1 {
  position: relative;
  top: 5px;
  left: 4px;
}

.style-custom-2 {
  position: relative;
  top: 7px;
  left: 12px;
}

.bg-custom-3 {
  background: #00c99a;
}
.text-color-cus-3 {
  color: #181616;
}

.cursor-pointer {
  cursor: pointer;
}

.style-custom-3 {
  height: auto;
  word-wrap: break-word;
}

.float-left {
  float: left;
}

.ml-17px {
  margin-left: 17px;
}

.mt-32px {
  margin-top: 32px;
}

.w-44 {
  width: 45%;
}

.ml-3 {
  margin-left: 3%;
}

.mb-38px {
  margin-bottom: 38px;
}

.mr-40px {
  margin-right: 40px;
}

.bg-custom-4 {
  background-color: #ebedef;
}
.text-color-cus-4 {
  color: #b5bcc4;
}

.border-style-none {
  border-style: none;
}

.h-41px {
  height: 41px;
}

.border-focus-none:focus {
  background-color: #cbced0;
  outline: none;
}

.hover-cus-1:hover {
  background-color: #cbced0;
}

.w-90--9 {
  width: 90.9%;
}

.bg-custom-5 {
  background-color: #f7f8f8;
}

.ml-1 {
  margin-left: 1%;
}

.ml-6 {
  margin-left: 6%;
}

.w-32 {
  width: 32%;
}

.ml-8 {
  margin-left: 8%;
}

.vertical-align-top {
  vertical-align: top;
}

.d-inline-grid {
  display: inline-grid;
}

.min-h-430px {
  min-height: 430px;
}

.mb-3 {
  margin-bottom: 3% !important;
}

.hover-cus-2:hover {
  background-color: #dde1e1;
}

.min-max-h-365px {
  min-height: 365px;
  max-height: 365px;
}

/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

.scroll-custom-1::-webkit-scrollbar {
  -webkit-appearance: none;
}

.scroll-custom-1::-webkit-scrollbar:vertical {
  width: 10px;
}

.scroll-custom-1::-webkit-scrollbar-button:increment::-webkit-scrollbar-button {
  display: none;
}

.scroll-custom-1::-webkit-scrollbar:horizontal {
  height: 10px;
}

.scroll-custom-1::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 3px;
  border: 1px solid #f1f2f3;
}

.scroll-custom-1::-webkit-scrollbar-track {
  background-color: #6b939f;
}

.text-color-cus-5 {
  color: #878e95;
}

.font-size-24px {
  font-size: 24px;
}

.border-left-none {
  border-left: none;
}

.ml-11 {
  margin-left: 11%;
}

/*CUSTOM SPINNER*/

.content-custom-1 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.load-custom-1 {
  border: 4px solid #e13b3b;
  font-size: 1.2em;
  cursor: pointer;
  width: auto;
  height: auto;
  padding: 0.8em 1.5em;
  border-radius: 0;
  transition: all 500ms;
}
.load-custom-1:hover {
  padding: 0.9em 1.75em;
  background-color: rgba(225, 59, 59, 0.18);
}
.bar-custom-1 {
  width: 155px;
  height: 3px;
  padding: 0;
  background-color: rgba(225, 59, 59, 0.7);
  border: none;
}
.bar-custom-1 .loader-custom-1 {
  width: 20px;
  height: 3px;
  background-image: linear-gradient(to right, rgba(250, 250, 250, 0.3), #fff);
  animation: slide infinite 0.75s linear;
}
.bar-custom-1:hover {
  padding: 0;
  background-color: rgba(225, 59, 59, 0.7);
}
@keyframes slide {
  from {
    margin-left: -20px;
  }
  to {
    margin-left: 135px;
  }
}
/*END SPINNER*/

.ml-32 {
  margin-left: 32%;
}

.mt-37 {
  margin-top: 37%;
}

.word-break {
  word-break: break-word;
}

.bg-custom-6 {
  background-color: #85aeff;
}
