<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div>
        <img src="../assets/logoimgd.png" width="68px" height="60px"> 
    </div>
    <div class="collapse navbar-collapse">
        <a class="nav-link text-light" [routerLink]="['/registro']">Registrarse</a>
        <img src="https://www.flaticon.es/svg/vstatic/svg/1672/1672225.svg?token=exp=1612666891~hmac=a07aed4f23b3a9cfe8735b25fed9184d" alt="" width="30px">
    </div>
</nav>
<form [formGroup]="form" class="formulario" (ngSubmit)="Validar()">
    <h1>Iniciar Sesion</h1>
    <div class="contenedor">
      <div class="form-group">
          <label for="correo">Correo</label>
          <input type="text" formControlName="correo" class="form-control">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Contraseña</label>
        <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1">
      </div>
      <button type="submit" class="btn" >Iniciar Sesion</button>
    </div>
</form>
