<app-nav></app-nav>
<div class="w-100">
  <div class="w-50 mt-4 ml-40">
    <input class="form-control text-center w-75" type="text" placeholder="Nombre">
    <input class="form-control text-center w-75" type="text" placeholder="Descripción">
    <input class="form-control text-center w-75" type="password" placeholder="Contraseña">
    <input class="form-control text-center w-75" type="password" placeholder="Confirmar contraseña">
    <span class="w-75 d-block mt-4">
      <button class="btn btn-success w-25 d-inline ml-10">Actualizar</button>
      <button class="btn btn-danger w-25 d-inline ml-40">Cancelar</button>
    </span>
  </div>
</div>
<app-footer></app-footer>
