@import "https://fonts.googleapis.com/css?family=Dosis|Roboto:300,400";

.central {
  padding-top: 20%;
  background-color: #85aeff;
  padding-bottom: 20%;
}

.container {
  margin: 0;
  padding: 0;
  position: absolute;
  width: auto;
  height: auto;
  top: calc(50% - 240px);
  left: calc(50% - 160px);
}

form {
  position: absolute;
  text-align: center;
  background: #fff;
  width: 310px;
  height: 470px;
  border-radius: 5px;
  padding: 30px 20px 0 20px;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 12px;
  color: #f8f9fa;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

p > span {
  margin: 0;
  padding: 0;
  padding-top: 3px;
  display: block;
  font-weight: 400;
  font-size: 9px;
}

h3 {
  margin: 0;
  padding: 0;
  font-family: "Dosis";
  font-size: 35px;
  text-transform: uppercase;
  color: #f8f9fa;
  margin-bottom: 30px;
}

input,
button {
  margin: 0;
  padding: 0;
  outline: none !important;
}

button.form-btn {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 50%;
  height: 60px;
  bottom: 0;
  border: 0;
  font-family: "Dosis";
  font-size: 24px;
  text-transform: uppercase;
  cursor: pointer;
}

button.form-btn.sx {
  left: 0;
  margin: 0;
  padding: 0;
  border-radius: 0 0 0 5px;
  background-color: rgba(255, 125, 0, 0.35);
  color: #fff;
  transition: all 0.3s linear;
}

button.form-btn.sx:hover {
  margin: 0;
  padding: 0;
  background-color: rgba(255, 125, 0, 0.65);
  color: #fff;
}

button.form-btn.sx.back {
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.15);
  transition: all 0.3s linear;
}

button.form-btn.sx.back:hover {
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.35);
}

button.form-btn.dx {
  margin: 0;
  padding: 0;
  right: 0;
  border-radius: 0 0 5px 0;
  background-color: #ff7d00;
  color: #fff;
}

input {
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: 1px solid #ffc185;
  width: 85%;
  font-family: "Roboto";
  color: #212529;
  text-align: center;
  font-size: 21px;
  font-weight: 100;
  margin-bottom: 25px;
}

::-webkit-input-placeholder {
  margin: 0;
  padding: 0;
  color: #212529;
  font-family: "Roboto";
  font-weight: 100;
}

:-moz-placeholder {
  margin: 0;
  padding: 0;
  color: #ffc185;
  font-family: "Roboto";
  font-weight: 100;
}

::-moz-placeholder {
  margin: 0;
  padding: 0;
  color: #ffc185;
  font-family: "Roboto";
  font-weight: 100;
}

:-ms-input-placeholder {
  margin: 0;
  padding: 0;
  color: #ffc185;
  font-family: "Roboto";
  font-weight: 100;
}

.signIn input,
.signUp .w100 {
}

.signIn {
  margin: 0;
  padding: 0;
  z-index: 1;
  transform: perspective(100px) translate3d(100px, 0px, -30px);
  opacity: 0.5;
}

.signUp {
  margin: 0;
  padding: 0;
  z-index: 2;
}

.active-dx {
  margin: 0;
  padding: 0;
  animation-name: foregrounding-dx;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

.active-sx {
  margin: 0;
  padding: 0;
  animation-name: foregrounding-sx;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

.inactive-dx {
  margin: 0;
  padding: 0;
  animation-name: overshadowing-dx;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

.inactive-sx {
  margin: 0;
  padding: 0;
  animation-name: overshadowing-sx;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

@keyframes overshadowing-dx {
  0% {
    margin: 0;
    padding: 0;
    z-index: 2;
    transform: perspective(100px) translate3d(0px, 0px, 0px);
    opacity: 1;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
  }
  100% {
    margin: 0;
    padding: 0;
    z-index: 1;
    transform: perspective(100px) translate3d(100px, 0px, -30px);
    opacity: 0.5;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
  }
}

@keyframes overshadowing-sx {
  0% {
    margin: 0;
    padding: 0;
    z-index: 2;
    transform: perspective(100px) translate3d(0px, 0px, 0px);
    opacity: 1;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
  }
  100% {
    margin: 0;
    padding: 0;
    z-index: 1;
    transform: perspective(100px) translate3d(-100px, 0px, -30px);
    opacity: 0.5;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
  }
}

@keyframes foregrounding-dx {
  0% {
    margin: 0;
    padding: 0;
    z-index: 1;
    transform: perspective(100px) translate3d(100px, 0px, -30px);
    opacity: 0.5;
  }
  50% {
    margin: 0;
    padding: 0;
    z-index: 2;
    transform: perspective(100px) translate3d(400px, 0px, -30px);
  }
  100% {
    z-index: 2;
    margin: 0;
    padding: 0;
    transform: perspective(100px) translate3d(0px, 0px, 0px);
    opacity: 1;
  }
}

@keyframes foregrounding-sx {
  0% {
    z-index: 1;
    margin: 0;
    padding: 0;
    transform: perspective(100px) translate3d(-100px, 0px, -30px);
    opacity: 0.5;
  }
  50% {
    margin: 0;
    padding: 0;
    z-index: 2;
    transform: perspective(100px) translate3d(-400px, 0px, -30px);
  }
  100% {
    z-index: 2;
    margin: 0;
    padding: 0;
    transform: perspective(100px) translate3d(0px, 0px, 0px);
    opacity: 1;
  }
}

.color-blue {
  color: blue;
  margin: 0;
  padding: 0;
}

.bg-custom1 {
  background-color: #ff7d00 !important;
}
.hover-custom-1:hover {
  background-color: #b6661b !important;
}

.bg-custom-2 {
  background-color: rgba(255, 125, 0, 0.35) !important;
}

.hover-custom-2:hover {
  background-color: #ad6520 !important;
}

.mt-9px {
  margin-top: 9px;
}
