.max-h-500 {
  max-height: 500px;
}

.ml-120 {
  margin-left: 120px;
}

.bottom-73 {
  bottom: 73px;
}

.mr-27 {
  margin-right: 27px;
}

.ml-190 {
  margin-left: 190px;
}

.mt-60 {
  margin-top: 60px;
}

.text-align-center {
  text-align-last: center;
}
