.max-h-500 {
  max-height: 500px;
}

.ml-120 {
  margin-left: 120px;
}

.bottom-73 {
  bottom: 73px;
}

.mr-27 {
  margin-right: 27px;
}

.ml-190 {
  margin-left: 190px;
}

.mt-60 {
  margin-top: 60px;
}

.text-align-center {
  text-align-last: center;
}

.invisible {
  display: none;
}

.mouse-hand {
  cursor: pointer;
}

.max-min-w-h-250 {
  min-width: 250px;
  max-width: 250px;
  min-height: 250px;
  max-height: 250px;
}

.img-thumbnail-c{
  padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
}
