<nav *ngIf="auth.isLoggedIn() | async" class="color-bg d-block py-3">
  <div class="d-block">
    <div class="w-33 d-inline-block text-center">
      <a routerLink="/home" class="d-inline-block font-30 a-c1 text-light">Racing-HTPP</a>
    </div>
    <div class="w-33 d-inline-block">
      <input #search class="form-control me-2 d-inline w-75 hideFocus-box" type="search" placeholder="Buscar productos"
        [(ngModel)]="inputSearch" (ngModelChange)="Buscar($event)" aria-label="Search"
        (focus)="inputSearchFocused = true" (blur)="hideResults()">
      <div *ngIf="inputSearch.length >= 1 && inputSearchFocused"
        class="position-fixed z-index--1 w-cus-1 bg-light pt-1 pl-1 pr-1 max-h-284px overflow-y-auto scroll-custom-1">
        <!--List Products:-->
        <ng-container *ngIf="resultSearch.length >= 1 && !notFoundResults">
          <ng-container *ngFor="let item of resultSearch">
            <div class="p-2 bg-custom-1 hover-cus-1 cursor-pointer border-cus-1 mb-1"
              (click)="clickProductList(item.id_producto)">
              <!--Product-->
              <div class="float-left mr-3">
                <img #lImageNav [src]="imgLoadingR" jpPreload="{{item.imagen_producto}}"
                  class="max-min-wh-50px img img-thumbnail rounded-circle" [alt]="item.nombre_producto" width="50"
                  height="50">
              </div>
              <div class="h-50px">
                <span class="line-h-2--7">{{item.nombre_producto}}</span>
              </div>
            </div>
            <!--End Product-->
          </ng-container>
        </ng-container>

        <div *ngIf="loading" class="p-2 text-center  border-cus-1 mb-1">
          <!--Spinner-->
          <div class="spinner-grow text-info" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
        <!--End Spinner-->
        <div *ngIf="resultSearch.length == 0 && notFoundResults" class="p-2 text-center border-cus-1 mb-1">
          <!--Not found-->
          <span>No hay resultados...</span>
        </div>
        <!--End Not found-->
      </div>
    </div>
    <div class="w-33 d-inline-block">
      <div routerLink="/gestionarproductos" class="d-inline-block text-light cursor-pointer outline-none--focus">
        <i class="far fa-edit font-30"></i>
        <b class="d-inline-block position-relative text-add-product-title">Gestionar productos</b>
      </div>
      <div routerLink="/chat" class="d-inline-block text-light cursor-pointer outline-none--focus">
        <i class="fas fa-comment-dots font-30 d-inline-block"></i>
        <b class="d-inline-block position-relative text-chat-title">Chat</b>
      </div>
      <div routerLink="/actualizarperfil" class="d-inline-block text-light cursor-pointer outline-none--focus">
        <i class="fas fa-cog font-30"></i>
        <b class="d-inline-block position-relative text-settings-title">Ajustes</b>
      </div>
      <div (click)="logout()" class="d-inline-block text-light cursor-pointer outline-none--focus">
        <i class="fas fa-sign-out-alt font-30"></i>
        <b class="d-inline-block position-relative text-settings-title">Salirme</b>
      </div>

    </div>
  </div>

</nav>
<nav *ngIf="!(auth.isLoggedIn() | async)" class="navbar navbar-expand-lg navbar-light bg-dark">
  <div>
    <img src="../assets/logoimgd.png" width="68px" height="60px">
  </div>
  <div class="collapse navbar-collapse">
    <a class="nav-link text-light">Racing Htpp</a>
    <i class="far fa-address-card font-size-35 text-light"></i>
  </div>
</nav>
