<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <ol class="carousel-indicators">
    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="https://http2.mlstatic.com/optimize/o:f_webp/resources/exhibitors/MLM-san-valentin-2021/9bf3c500-6297-11eb-9671-e33263a9d3fd-home-slider_desktop.jpg"
        class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img
        src="https://http2.mlstatic.com/optimize/o:f_webp/resources/exhibitors/MLM-festival-chino-2021/8e1ea540-6697-11eb-adc0-bb8ec36fa9f8-home-slider_desktop.jpg"
        class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img
        src="https://http2.mlstatic.com/optimize/o:f_webp/resources/exhibitors/MLM-celulares-2021/f38a8800-629a-11eb-b648-27c2bb5d878c-home-slider_desktop.jpg"
        class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>

{{ eventR }}
