/* @import '~ngx-toastr/toastr';
@import '~ngx-toastr/toastr-bs4-alert';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~ngx-toastr/toastr-bs4-alert'; */

/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

.scroll-custom-1::-webkit-scrollbar {
  -webkit-appearance: none;
}

.scroll-custom-1::-webkit-scrollbar:vertical {
  width: 10px;
}

.scroll-custom-1::-webkit-scrollbar-button:increment::-webkit-scrollbar-button {
  display: none;
}

.scroll-custom-1::-webkit-scrollbar:horizontal {
  height: 10px;
}

.scroll-custom-1::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 3px;
  border: 1px solid #f1f2f3;
}

.scroll-custom-1::-webkit-scrollbar-track {
  background-color: #6b939f;
}
